.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages__icon-background {
  background-color: $iconBackground;
  border-radius: 4px;
  padding: 0px 100px;
}
.advantages__title {
  font-weight: $fontMedium;
  text-align: left;
  line-height: 2.625;
  text-transform: uppercase;
  color: $brandBlack;
  margin-bottom: 10px;
}
.advantages__description {
  line-height: 1.7;
  text-align: left;
}
