.footer__container {
  background-color: $backgroundFooter;
  color: $textWhite;
  padding: 60px 0px 60px 0px;
}

.footer__logo {
  color: $textWhite;
  font-family: $familyRaleway;
  font-size: 26px;
  font-weight: $fontBig;
  line-height: 1.938;
  text-decoration: none;
}

.footer__link {
  color: $linkFooter;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  &:focus,
  &:hover,
  &:active {
    color: $textWhite;
    outline-color: $mainActive;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:visited {
    color: $textWhite;
  }
}

.footer__address {
  color: $textWhite;
}

.highlight {
  color: $mainActive;
}
.footer__margin {
  margin-left: 70px;
  margin-top: 30px;
}
.footer__title {
  color: $textWhite;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: $fontMedium;
}
.footer__flex {
  display: flex;
}
.footer__box-address {
  display: block;
}
