.signup {
  margin-left: 90px;
  margin-top: 30px;
  position: relative;
}
.signup__input {
  margin-top: 20px;
  width: 340px;
  height: 50px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  padding-left: 16px;
}
.signup__section {
  display: flex;
  align-items: center;
}
.signup__button {
  height: 50px;
  width: 200px;
  background-color: $mainActive;
  color: $signup;
  font-size: 16px;
  font-weight: $fontMedium;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.06em;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: baseline;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
  margin-top: 20px;
  padding: 0px, 0px, 10px, 42px;
  cursor: pointer;
}
.signup__icon {
  fill: $signup;
  margin-left: 20px;
  position: relative;
  top: 7px;
}
.signup__input:focus-within {
  color: $signup;
}
