.social-icons__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
  fill: $borderIcon;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__item {
  padding: 12px 12px;
  border-radius: 50%;
  &:hover,
  &:focus,
  &:active {
    background-color: $mainActive;
    fill: #ffffffff;
    cursor: pointer;
  }
}
.social-icons__flex {
  display: block;
}
