$brand: #757575;
$background: #2f303a;
$mainActive: #2196f3;
$brandBlack: #212121;
$white-color: #ffffff;
$iconBackground: #f5f4fa;
$borderIcon: #afb1b8;
$icon: #757575;

$familyRoboto: "Roboto", sans-serif;
$familyRaleway: "Raleway", sans-serif;

$fontSmall: 500;
$fontMedium: 700;
$fontBig: 900;
